.header {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(50px);
	z-index: 20;
	color: var(--text-color);
	padding: 0rem 6rem;
}
.content {
	display: flex;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;

	justify-content: space-between;
	max-width: 1430px;
	padding: 10px 0px;
}
.menu__list {
	display: flex;
	gap: 40px;
}

.header__logo {
	width: 70px;
	height: 70px;
}

.addons {
	display: flex;
	align-items: center;
	gap: 30px;
}
